.container{
    position:relative;
    padding-top: 80px;
    min-height: 75%;
}  

.respuesta{
    min-height: 80px;
    width: 92%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
    border: 2px solid black;
    border-radius: 20px;
    
}
