{%extends "base.html"%}

{%block css%}
    <link rel="stylesheet" href="static/consulta.css">
{%endblock css%}

{%block contenido%}

<div class = "container text-center">
    <div><h1>Consultar Código</h1></div>
    <div class = "respuesta d-flex align-items-center justify-content-center">
        <h2>{{dato}}</h2>
    </div>
    <div>
        <form method="POST" action="{% url 'consulta' %}">
            {% csrf_token %}
            <div class="form-row align-items-center">
              <div class="col-md-2 d-inline-block">
                <label class="input-group-text"  for="valor">Escanear código:</label>
              </div>
              <div class="col-md-9 d-inline-block">
                <input class="form-control" type="text" id="valor" name ="valor" >
              </div>
            </div>
            <input class="btn btn-primary m-4 px-5" type="submit" id="aceptar" value = "Consultar">
        </form>
    </div>
</div>
{%endblock contenido%}